<div class="wrapper bg-tuppence-creative">
	<div class="tuppence-creative-box text-center">
		<%= image_tag "Mousecode-Web-Design-Web-Development.png", alt: "Tuppence Createive London" %>
		<h4 class="floating"><%= link_to "ally@tuppencecreative.com", "mailto:ally@tuppencecreative.com"%></h4>
	</div>
</div>
